pydantic==1.6.1
wheel==0.35.1
backoff==1.10.0
requests==2.24.0
python-decouple==3.3
networkx==2.5
numpy==1.19.4
packaging==20.4
colorama==0.4.3
lz4==3.1.0
# git+ssh://git@github.com:/qcware/quasar-dev.git@4dd310ed594f829e85f7ff49139289119b049e6b
qubovert==1.2.3
dpcontracts==0.6.0
tabulate==0.8.7
qcware-quasar>=1.0.2
