aiohttp
backoff
colorama
hypothesis[numpy]
icontract
lz4
matplotlib
nbmake
networkx
numpy
packaging
pandas
pydantic
python-decouple
qcware-quasar
qcware-transpile[qcware-quasar,qiskit]
qiskit
qubovert
requests
rich
tabulate
wheel
